# basic
basic/init_finalize
basic/xstream_create
basic/xstream_affinity
basic/xstream_barrier
basic/thread_create
basic/thread_create2
basic/thread_create_on_xstream
basic/thread_revive
basic/thread_attr
basic/thread_yield
basic/thread_yield_to
basic/thread_self_suspend_resume
basic/thread_migrate
basic/thread_data
basic/thread_id
basic/task_create
basic/task_create_on_xstream
basic/task_revive
basic/task_data
basic/thread_task
basic/thread_task_arg
basic/thread_task_num
basic/sched_basic
basic/sched_prio
basic/sched_randws
basic/sched_set_main
basic/sched_stack
basic/sched_config
basic/sched_user_ws
basic/pool_access
basic/mutex
basic/mutex_recursive
basic/cond_test
basic/cond_join
basic/cond_signal_in_main
basic/cond_timedwait
basic/future_create
basic/rwlock_reader_incl
basic/rwlock_reader_writer_excl
basic/rwlock_writer_excl
basic/eventual_create
basic/eventual_test
basic/barrier
basic/self_type
basic/ext_thread
basic/timer
basic/info_print

# code builds
util/libutil.la
